%nav.navbar.navbar-default.navbar-inverse
  .container
    %ul.nav.navbar-nav.navbar-header.navbar-right
      %li= link_to "Home",   root_path
      %li= link_to "Register"
      %li= link_to "Log in"
